[project]
name = "demo-fastapi"
version = "0.0.1"
authors = [
    { name="joony.kim", email="bestheroz@gmail.com" }
]
readme = "README.md"
requires-python = ">=3.14,<4.0"
dependencies = [
    "fastapi (==0.127.0)",
    "pydantic[email] (==2.12.5)",
    "pydantic-settings (==2.12.0)",
    "orjson (==3.11.5)",
    "mangum (==0.19.0)",
    "uvicorn (==0.40.0)",
    "hypercorn (==0.18.0)",
    "pymysql (==1.1.2)",
    "sqlalchemy (==2.0.45)",
    "sqlmodel (==0.0.22)",
    "greenlet (==3.3.0)",
    "python-dotenv (==1.2.1)",
    "uvloop (==0.22.1)",
    "httptools (==0.7.1)",
    "bcrypt (==5.0.0)",
    "sentry-sdk[fastapi] (==2.48.0)",
    "aiohttp (==3.13.2)",
    "structlog (==25.5.0)",
    "pyjwt (==2.10.1)",
    "cryptography (==46.0.3)",
    "fastapi-events (==0.12.2)",
]

[tool.poetry]
package-mode = false


[tool.poetry.group.dev.dependencies]
pyright = "1.1.407"
mypy = "1.19.1"
ruff = "0.14.10"

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
python_version = "3.14"
ignore_missing_imports = true

disable_error_code = 'empty-body'

exclude = [
    "node_modules/",
    "__pycache__/",
    "venv/",
]

[tool.pyright]
include = ["app"]
exclude = [
    "**/node_modules",
    "**/__pycache__",
    "**/venv",
    "**/.venv"
]
defineConstant = { DEBUG = true }

reportMissingImports = false
reportMissingTypeStubs = false
reportGeneralTypeIssues = false
reportMissingModuleSource = false

pythonVersion = "3.14"
pythonPlatform = "Linux"
