service: ${self:custom.env.SERVICE_NAME}
frameworkVersion: '3'

package:
  individually: true
  exclude:
    - node_modules/**
    - .serverless/**

custom:
  env: ${file(./serverless-env/${opt:stage,'local'}.json)}

provider:
  name: aws
  region: ${self:custom.env.AWS_PROFILE_REGION}
  stage: ${opt:stage, 'sandbox'}
  memorySize: 1024
  timeout: 30
  iam:
    role: ${self:custom.env.AWS_IAM_ROLE}
  deploymentBucket:
    name: ${self:custom.env.DEPLOY_BUCKET}
  environment:
    DEPLOYMENT_ENVIRONMENT: ${self:custom.env.STAGE}
  logRetentionInDays: 30
  ecr:
    images:
      demo-api:
        uri: ${env:SLS_ECR_IMAGE_URI}

functions:
  main:
    image:
      name: demo-api
    name: ${self:custom.env.SERVICE_NAME}-${self:custom.env.STAGE}
    maximumRetryAttempts: 0
    url:
      cors:
        allowedOrigins:
          - '*'
        allowedHeaders:
          - Content-Type
          - Authorization
          - X-Requested-With
        allowedMethods:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          - OPTIONS
        allowCredentials: false
